@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Microsoft Developer Conference</h1>

    <img src="~/Images/msdeveloper.jpg" />

</div>


<div>
    <ul>
        <li>A virtual platfor for you to learn from the expers and connect with he community</li>
        <li>Calling all developers! Get ready to dev-lvl-up</li>
        <li>The way we work, and live, has changed. We now live in a world of remote everything</li>
    </ul>
</div>

<a class="btn btn-primary" asp-action="RegisterForm"> Register For Microsoft Developer Conference</a>
