@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Job Interview Virtual Conference</h1>

    <img src="~/Images/meetings.png" />

</div>


<div>
    <ul>
        <li>A virtual platform for you to learn from the experts, learn about our community , our way of work and learn from career choices we offer.</li>
        <li>Calling all developers! Get ready to level up your career!</li>
        <li>The way we work, and live, has changed. We now live in a world of remote everything.</li>
    </ul>
</div>

<a class="btn btn-primary" asp-action="RegisterForm"> Register For Job Interview Virtual Conference</a>
