@model WebinarInvites
@{
    ViewData["Title"] = "ThankYou";
}

<h1>ThankYou</h1>

@if (Model.WillJoin == true)
{<div class=" text-center">
  <img src="~/Images/celebrate.jpg"/>
    <h1>Thank you!</h1>

    Thank you candidate , @Model.Name,
    <p>Thank you for registering for the conference.</p>
    <p>Your Registration has been confirmed.</p>
 </div>}

else
{
    <h3>Sorry to hear that you can't make it , but thanks for letting us know. We will arrange you another date for the virtual conference.</h3>
}

<div><h1>Click <a asp-action="ListResponses"> here </a>to see who is coming</h1></div> 